<div class="view-participant-container">
  <h2>Enter Your Details</h2>
  <input
    [(ngModel)]="firstName"
    placeholder="Enter your First Name"
    required=""
  />
  <input [(ngModel)]="lastName" placeholder="Enter your Last Name" />
  <button (click)="findReceiver()">Find Your Secret Santa</button>

  <p *ngIf="receiverName">
    Your Secret Santa partner is: <strong>{{ receiverName }}</strong>
  </p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <button *ngIf="receiverName" (click)="closeApp()">Close</button>
</div>
